*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(160, 160, 160);
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  background-color: white;
}