$color-red: red;
$color-green: green;
$color-white: white;
$color-black: black;
$color-dark: rgb(55, 55, 55);
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;

*, *::before, *::after {
  box-sizing: border-box;
}

.bg-dark {
  background-color: $color-black;
  color: $color-white;
}

.wrapper {
  padding: $spacing-lg;

  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 50%;
  }

  &.bg-dark {
    background-color: $color-dark;
  }

  h2 {
    font-size: 40px;

    &.color-red {
      color: $color-red;
      transition: 0.3s color;
      cursor: pointer;

      &:hover {
        color: $color-green;
      }
    }
  }

  p {
    // &::before {
    //   content: '- ';
    //   color: $color-red;
    // }

    // &.empty {
    //   &::before {
    //     content: none;
    //   }
    // }

    &:not(.empty) {
      &::before {
        content: '- ';
        color: $color-red;
      }
    }

    &:first-of-type {
      font-size: 2em;
    }
  }
}

.box {
  border: 2px solid $color-green;
  padding: $spacing-lg;
  margin-bottom: $spacing-lg;
}

.container {
  width: 70%;
  margin: $spacing-lg auto;
}