*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  background-image: url("city.jpg");
  background-color: #1D2528;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: white;
  padding: 100px 20px;
}