*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin-bottom: 500px;
}

.page-title {
  margin: 0;
}

.section-title {
  margin: 0;
}

.large-link {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  font-size: 28px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.large-link::after {
  content: url('arrow.svg');
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

.page-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.main-content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.news-section {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.main-news {
  display: flex;
  column-gap: 30px;
  
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px; */
}

.main-news .news-article {
  width: 50%;
}

.main-news .news-article {
  background-color: white;
}

.news-article a {
  text-decoration: none;
  color: black;
}

.article-image {
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
}

.main-news .article-content-wrapper {
  padding: 38px;
}

.article-category {
  color: #1200ff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 13px;
  display: block;
}

.article-title {
  margin-top: 0;
  margin-bottom: 11px;
}

.secondary-news {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px; */
}

.secondary-news .article-image {
  width: 120px;
  height: 80px;
}

.secondary-news .news-article {
  width: calc((100% - 30px) / 2);
}

.secondary-news .news-article a {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}

.secondary-news .article-content-wrapper {
  padding: 0;
}

.secondary-news .article-title {
  font-size: 18px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.podcasts-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.podcast-item {
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  grid-template-rows: 70px auto;
}

.podcast-image {
  width: 100%;
  height: 100%;
}

.podcast-length {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.podcast-content {
  grid-column: 1 / 4;
  padding: 20px;
  background-color: white;
}

.podcast-title {
  margin: 0;
}

.events-section {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.events-list {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.event-image {
  width: 100%;
  display: block;
}

.event-content {
  background-color: black;
  color: white;
  padding: 20px;
  position: relative;
  padding-top: 50px;
}

.event-date {
  display: flex;
  flex-direction: column;
  width: 70px;
  text-align: center;
  border-radius: 14px;
  overflow: hidden;
  position: absolute;
  top: -40px;
}

.event-day {
  background-color: white;
  color: black;
  font-size: 36px;
  padding: 5px;
}

.event-month {
  background-color: #ff00e9;
  padding: 5px;
  text-transform: uppercase;
}

.event-location {
  text-transform: uppercase;
}

.event-title {
  margin: 8px 0 0;
}




